
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: white;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:5;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-col .social-links a{
  display: flex;
	/* display: inline-block; */
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.social-links{
	padding: 30px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;

}
}

.footer-colss{
	margin-top: 50px;
}





.footer-colss{
  justify-content: space-around;
  /* width: 25%; */
  padding: 0 155px;
  display: flex;
  
}

.footer-colss h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-colss h4::before{
	content: '';
	position: absolute;
	left:5;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-colss ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-colss ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-colss ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-colss .social-links a{
  display: flex;
	/* display: inline-block; */
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-colss .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
/* @media(max-width: 767px){
  .footer-colss{
  border: 1px solid red;
}
} */

@media(max-width: 574px){
  .footer-colss{
    width: 100%;
    display: block;

}

.social-links {
  display: none;
}
}
@media screen and (min-width: 500px) and (max-width: 1000px) {

.social-links{
	/* border: 1px solid green; */
	margin-left: -150px;

}
.kuchnhi{
	margin-top: 80px;
	display: none;
}
}

.line{
	border: 1px solid black;
	margin-top: 25px;
  }