@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.Shophai{
    
    text-align: center;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.Shophaifrq{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: start;
    margin-left: 74px;
}

.othercustomer{
    width: 90%;
    height: auto;
    margin: auto;
  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 13px;

}

.mainwala{
    height: 590px;
    display: flex;
    flex-direction: column;
}
.mainwala div:first-child{
        height: 60%;
}
.mainwala div:last-child{
    height: 40%;
}
.image1{
    width: 100%;
    height: 100%;
   
    background-image: url('https://static.thcdn.com/images/large/webp//productimg/1600/1600/12639082-1284892769599187.jpg');
    background-size:100% 300px; 
    background-repeat: no-repeat;

}
.image1:hover{
background-image: url('https://static.thcdn.com/images/xsmall/webp//productimg/original/12639082-4554892769633519.jpg');
}
.image2{
    width: 100%;
    height: 100%;
    
    background-image: url('https://static.thcdn.com/images/large/webp//productimg/1600/1600/12771530-3164918929282606.jpg');
    background-size:100% 300px; 
    background-repeat: no-repeat;  
}
.image2:hover{
    background-image: url('https://static.thcdn.com/images/xsmall/webp//productimg/original/12771530-4554864739754216.jpg');
    }



.image3{
    width: 100%;
    height: 100%;
  
    background-image: url('https://static.thcdn.com/images/large/webp//productimg/1600/1600/13516546-2844930071318699.jpg');
    background-size:100% 300px; 
    background-repeat: no-repeat;  
}
.image3:hover{
    background-image: url('https://static.thcdn.com/images/xsmall/webp//productimg/original/13516546-1514932677894190.jpg');
    }
.image4{
    width: 100%;
    height: 100%;
   
    background-image: url('https://static.thcdn.com/images/large/webp//productimg/1600/1600/11289623-1824892771693055.jpg');
    background-size:100% 300px; 
    background-repeat: no-repeat;  
}
.image4:hover{
    background-image: url('https://static.thcdn.com/images/xsmall/webp//productimg/original/11289623-5074892771725698.jpg');
    }

.stars{
    color: rgb(239, 192, 34);
    font-size: 20px;
}
.starshaipr{
    color: rgb(239, 192, 34);
    font-size: 35px;
    margin-top: 10px;
}
.giftsel{
  border: 1px solid red;
    width: 34%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
   
}
.textdata{
    text-align: start;
}
.pricehai{
    margin-top: -15px;
}
.butkor{
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    text-transform: uppercase;
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    height: 50px;
    width: 100%; 
    margin: auto;
   
}


.starshai{
    display: flex;
    margin-top: 5px;
}
.uparkr{
    margin-top: 5px;
}
.uparkrdubar{
margin-top: 16px;
}
.reviewwala{
  
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 490px;
background-image: url('./specifications-image/Reviews-image.jpeg');
background-size:100% 100%; 
    background-repeat: no-repeat;  
    
}
.mainimagewala{
    height: auto;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /* padding: -200px; */
    margin: auto;
    display: flex;
}
.imagepara{
width: 60%;

height: 600px;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.imagepara img{
    width: 50%;
    height: 60%;
    margin-top: -180px;
}
.imagepara h3{
    color: #2e3337;
    margin-left: -860px;
    
    margin-top: 20px;
font-weight: 400;
}
.imagepara p{
color: #2e3337;
line-height: 25px;
font-size: 15px;
font-family: "Lato",sans-serif;
font-weight: 300;
text-align: start;
}
.pricename{
width: 30%;
/* border: 1px solid teal; */
height: 100%;
text-align: start;
margin-top: 130px;
}
.namei{
    font-family: 'Lato', sans-serif;
font-size: 36px;
line-height: 43px;
font-weight: 400;
color: #2e3337;
}

.rate{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    line-height: 43px;
    font-weight: 300;
    color: #2e3337;
    margin-top: 40px;
}.trucjkhai{
    margin-top: 5px;
    margin-right: 5px;
}

.addwalabutton{
  
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    font-weight: 300;
    font-family: 'Lato' sans-serif;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
   
}
.addwalabutton:hover{
background-color: teal;
color: white;
cursor: pointer;
}
.icomns{
   
    display: flex;
    gap: 5px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.add{
    text-align: start;
    margin-left: 100px;
font-size: 20px;
}
.pricedesc p{
    text-align: start;
    font-size: 18px;
    color: #2e3337;
    font-weight: 400;
    font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
    line-height: 1.2;
} 










/* Medium screen Media Queries  */
@media screen and (min-width: 500px) and (max-width: 1000px) {
.othercustomer{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
}
.reviewwala{
    
    height: 490px;
background-image: url('./specifications-image/Review-medium.jpg');
background-size:100% 100%; 
    background-repeat: no-repeat;  
    
}
.Shophaifrq{    
    text-align: start;  
}

.imagepara p{
    display: none;
}

}
@media screen and (min-width: 10px) and (max-width: 500px) {
.othercustomer{
    display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(1,1fr);
}
.giftsel{
    margin-top: 5px;
width: 70%
}
.Shophaifrq{
    
    text-align: center;
    margin-left: 0px;
      
}

.mainwala{
    /* display: none; */
    margin-top: -80px;
}

.reviewwala{
    
    height: 490px;
background-image: url('./specifications-image/Review-small.jpg');
background-size:100% 100%; 
    background-repeat: no-repeat;  
    
}
.imagepara p{
    display: none;
}
.imagepara img{
    width: 70%;
    height: 50%;
    margin-top: -200px;
    /* margin-bottom: -150px; */
}
.pricename{
    margin-top: -250px;
}
.mainimagewala{
    display: flex;
    flex-direction: column;
width: 90%;
margin: auto;
}
.namei{
    font-size: 25px;
    width: 100%;
    
}
.pricename{
   
    width: 90%;
}
.imagepara{
    width: 90%;
    margin: auto;
}


}