@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


  .AdBottom_mainCon_2 {
    background-color: #2E3337;
    width: 90%;
    margin: auto;
    color: white;
    height: 30px;
    
    font-size: 20px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .AdBottom_mainCon_2 p{
    margin-top: 5
    px;
  } */
  .AdBottom_mainCon_2:hover {
    background-color: white;
    color: #2E3337;
    cursor: pointer;
  }
  @media screen and (min-width: 10px) and (max-width: 500px) {
    .AdBottom_mainCon_2 {
height: 150px;
text-align: center;
font-size: 20px;
display: none;
    }
    
  }
  @media screen and (min-width: 500px) and (max-width: 1000px) {
    .AdBottom_mainCon_2{
      /* padding: 10px; */
      /* border: 1px solid red; */
      height: 90px;
      display: none;
    }
  }