@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap'); */

 .Shophai{
    text-align: center;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    
}
.Shopcateg{
    display: grid;
    grid-template-columns: repeat(6,1fr);
   
    height: auto;
    width: 90%;
    margin: auto;
}
.Shopcateg div{
   
    height: 95%;
    width: 200px;

}
.Shopcateg div img{
    width: 100%;
    height: 100%;
    opacity: .8;
}
.Shopcateg div img:hover{
    opacity: 10;
}
.Trending_wala{
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 13px;
}
.Trending_wala div{
    /* border: 1px solid green; */
    height: 100%;
}
.Trending_wala div img{
    width: 90%;
    height: 70%;
    border-radius: 100%;
}
.Trending_wala div h4{
font-weight: 400;
line-height: 1.2;
font-size: 19px;
color: #333;
margin-top: 7px;

font-family: 'Lato', sans-serif;
}
.Trending_wala div p{
  
    color: rgb(0, 0, 0);
font-weight: 300;
line-height: 1.4;
font-size: 15px;
margin-top: 14px;
}
.Trending_wala div button{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: white;
    height: 44px;
    width: 108px;
    margin-top: 10px;
    border: 1px solid black;
}
.Trending_wala div button:hover{
background-color: rgb(202, 255, 255);
cursor: pointer;
}
.buying_people{
    width: 90%;
    height: auto;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 13px;

}
.buying_people div{
height: auto;

}
.buying_people div img{
    width: 100%;
    height: 70%;
}
.buying_people div p{
    font-size: 16px;
    color: #2e3337;
    line-height: 1.2;
    font-weight: 500;
     font-family: 'Lato', Helvetica,Arial, sans-serif; 

}
.buying_people div div{
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    /* display: block; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    height: 40px;
    width: 90%;
}
.buying_people div div:hover{
background-color: rgb(72, 167, 167);

}
.diffimages{
    width: 90%;
    height: 100px;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 13px;
    margin-top: 50px;

}
.diffimages div{
    height: 90%;

}
.diffimages div img{
    height: 40%;
    width: 100%;
}
.overblog{
    width: 90%;
    height: auto;
    margin: auto;
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 13px;
}
.overblog div{

    height: auto;
}
.overblog div img{
    width: 90%;
    height: 73%;
    border-radius: 100%;
}
.overblog div p{
    /* font-family: 'Lato-Light',sans-serif; */
    color: rgb(0, 0, 0);
font-weight: 300;
line-height: 1.4;
font-size: 15px;
margin-top: 10px;
}
.overblog div button{
    /* font-family: 'Lato', sans-serif; */
    font-weight: 300;
    background-color: white;
    height: 44px;
    width: 108px;
    border: 1px solid black;
    margin-top: 10px;
}
.overblog div h4{
    font-weight: 400;
    line-height: 1.2;
    font-size: 19px;
    color: #333;
    margin-top: 7px;
    
    font-family: 'Lato', sans-serif;
    }
/* Medium screen Media Queries  */
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .Shopcateg{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        /* border: 1px solid red; */
       
    }
    .Trending_wala{
      
       
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
       
    }

    .Trending_wala div{
        height: auto;
    }
    .buying_people{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
       
    
    }
    .overblog{
       
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
       
    }
    .Neoutics{
        margin-top: 40px;
    }
    .Estee{
        margin-top: 40px;
    }
    .DHC{
        margin-top: 40px;
    }
}






/* Small Screen media queries  */
    @media screen and (min-width: 10px) and (max-width: 500px) {
        .Shopcateg{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            /* border: 1px solid red; */
            
        }
        .Shopcateg div{
            /* border: 1px solid green; */
            height: 95%;
            width: auto;
        
        }
        .Trending_wala{
           
            /* border: 1px solid red; */
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(9,1fr);
           
        }
        .Trending_wala div{
 height: 590px;
        }
        .Trending_wala div img{
            width: 90%;
            height: 60%;
            border-radius: 100%;
        }
        .buying_people{
           
           
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
    
        }
        .Riley{
            margin-top: 40px;
        }
        .overblog{
          
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
           
        }
        .diffimages{
            
            height: 400px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            margin-top: 100px;
        gap: 2px;
        }
        
     
        
        .diffimages div img{
            height: 50%;
            width: 90%;
        }
        .Tripoller{
            margin-top: 20px;
        }
        .heightkm img{
            height: 400px;
        }


    }