@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
}
 .Shophai{
    text-align: center;
    font-weight: 400;
    
}
/* .Newh{
    border: 1px solid rebeccapurple;
    height: auto;
    margin: auto;
    width: 90%;
} */
