.thumbs{
    display: none;
}
.dots{
   
    border: 1px solid black;
    font-size: 20px;
    
}

.maindivhai{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    height: 530px;

}
.carousel-status{
    display:none;
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .maindivhai{
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        height: 300px;
    }
   
}
@media screen and (min-width: 10px) and (max-width: 500px) {
    .maindivhai{
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        height: 150px;
    }
    .carousel-slider{
        /* border: 1px solid red; */
        height: 150px;
    }


}
