.imagedescpr{
  border: 1px solid red;
  height: auto;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 40px;
}
.imagedescpr>div{
  height: auto;
  width: 30%;
  border: 1px solid red;
}

.Mainiimageonly{
display: flex;
border: 1px solid green;
flex-direction: column;
}
.Mainiimageonly img{
width: 100%;
height: 100%;
}
