
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
     margin : 0 ;
     padding : 0 ;
      box-sizing : border-box; 
     /* font-weight: 700;
      font-family: "Lato" sans-serif;
      color: #333333;  */
      
}

    /* body{
        /* background-color: #F2F2F2; */
    

    .payment_navbar{
        /* padding: 20px 0px 20px 220px; */
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        width: 100%;
        
       
    }
    .payment_navbar img{
        margin-left: -200px;
    }
    .maindiv{
        
         height: auto;
         width: 60%;
         
         margin: auto;
         margin-top:30px;
        display: flex;
      
         gap: 80px;
         /* position: absolute; */
    }
    .sbhai{
        height: auto;
    }
    .sbhai{
        width: 70%;
      
      padding: 10px;
        height: 100%;
        text-align: start;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        gap: 50px;
    }
    .imageswala{
        
       
        background-color: #FFFFFF;
        height: 30%;
        position: absolute;
        font-weight: 300;
        margin-left: 700px;
       
        
    }
    .emailwala{
        width: 100%;
        background-color: #FFFFFF;
        /*  */
    }
     .chotawla{
       width: 100%;
       height: 130px;
       background-color:#FFFFFF 
       
    }
 .chotawla button{
color: #0065ad;
font-size: 14px;
line-height: 24px;
font-weight: 700;
background-color: #E6F0F8;
width: 90%;
margin: auto;
border: none;
margin-top: 20px;
height: 60px;
    }  
.paymentmethod{
height: auto;

width: 100%;
display: flex;
flex-direction: column;
background-color: #FFFFFF;
}
.submit{
height: 70px;
background-color: #333333;
width: 100%;
color: white;
}
.chotiimage{
    width: 40%;
    height: 50px;
   
    
}
.chotiimage img{
width: 20%;
height: 100%;
}

.emailwala input{
height: 45px;
margin-top: 55px;
width: 100%;
}
.emailwala>h2{
    font-size: 23px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
}
.emailwala p{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    font-weight: 400
}
.emailwala input{
margin-top: 4px;

}
.emailwala label{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
}

.paymentmethod input{
    height: 50px;
    width: 90%;
    margin: auto;
  

}
.paymentmethod label{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    margin-top: 0px; 
    margin-left: 30px;
}
.imageswala{
    display: flex;
    flex-direction: column;
}
.imgandprice{
    display: flex;
}
.imgandprice div:first-child{
    width: 30%;
}
.imgandprice div:last-child{
    width: 70%;
}
.onlyimage img{
width: 60px;

}
.pricedesc{
font-size: 10px;
}
.donedanadan{
font-size: 200px;
color: rgb(126, 200, 15);
}
